<h1>Registration</h1>

<%= form_with(model: @question, url: questions_path) do |form| %>
  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit "Ask Question" %>
    <%= link_to "Back to Home", root_path %>
  </div>
<% end %>
