<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class = "main_pages">
  <div class = "wrapper">
    <header class = "header">
      <div class = "conteiner_1">
        <div class = "Logo">
          <img class = "Logo_img" src="<%= asset_path('logo.svg') %>" alt="Опис фото">
        </div>
        <div class = "navigation">
          <ul class = "navigation_links">
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">ПОСЛУГИ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">НОВИНИ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">ПРО КЛІНІКУ</a>
            </il>
            <il class = "navigation_items">
              <a class = "navigation_button" href="https://www.youtube.com/">КОНТАКТИ</a>
            </il>
          </ul>
        </div>
        <div class = "authentication">
          <ul class = "authentication_links">
            <% if user_signed_in? %>
              <div class="UserName">
                <div class="UserNameText">
                  <%= link_to current_user.name, new_session_path, class: "UserNameText" %>
                </div>
              </div>
            <% else %>
              <il class = "authentication_items">
                <%= link_to "Вхід", new_session_path, class: "authentication_text" %>
              </il>
              <il class = "authentication_items">
                <%= link_to "Реєстрація", new_user_path, class: "authentication_text" %>
              </il>
            <%end %>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="all">
    <input checked type="radio" name="respond" id="desktop">
      <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
        <input type="radio" name="slider" id="switch4">
        <input type="radio" name="slider" id="switch5">

        <div id="slider">
          <div id="overflow">
            <div class="image">
              <article><img src="<%= asset_path('Slider_1.jpg') %>"></article>
              <article><img src="<%= asset_path('Slider_2.jpg') %>"></article>
              <article><img src="<%= asset_path('Slider_3.png') %>"></article>
              <article><img src="<%= asset_path('Slider_4.jpg') %>"></article>
              <article><img src="<%= asset_path('Slider_5.jpg') %>"></article>
            </div>
          </div>
        </div>
        <div id="controls">
          <label for="switch1"></label>
          <label for="switch2"></label>
          <label for="switch3"></label>
          <label for="switch4"></label>
          <label for="switch5"></label>
        </div>
        <div id="active">
          <label for="switch1"></label>
          <label for="switch2"></label>
          <label for="switch3"></label>
          <label for="switch4"></label>
          <label for="switch5"></label>
        </div>
      </article>
  </div>
  <div class="Section_2">
    <div class="conteiner_2">
      <div class = "about_clinic">
        <div class = "about_clinic_text">
          <div class = "about_clinic_text_name">
            <strong class = "about_clinic_text_name_name">
              Про нашу
              <span class="about_clinic_text_name_name_cl">КЛІНІКУ</span>
            </strong>
          </div>
          <div class = "about_clinic_text_text">
            <H2 class = "about_clinic_text_text_text">
              У нашій клініці ми розуміємо, що кожен пацієнт унікальний, тому ми надаємо індивідуальний підхід до кожного випадку.
              Наші професіонали обладнані не лише найновішими технологіями та знаннями, але і розумінням твоїх особистих потреб і побажань.
              <br><br>Від першого візиту до закінчення лікування ми прагнемо забезпечити найвищий стандарт якості та догляду.
              Від регулярних чисток до складних стоматологічних процедур, ми дбаємо про твоє здоров'я та комфорт кожного кроку шляху.
              Приходьте до нас і дозвольте нам допомогти вам зберегти ваш усмішку яскравою та здоровою на протязі усього життя.
              <br><br>Наша клініка надає 2 роки гарантії, томущо ми впевнені в нашій роботі.
            </H2>
          </div>
        </div>
        <div class = "about_clinic_image">
          <div class = "about_clinic_image_pos">
            <img class = "Photo_2" src="<%= asset_path('Frame_2.jpg') %>" alt="Опис фото">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Section_3">
    <div class="conteiner_3">
      <div class = "about_our_advantages">
        <div class="about_our_advantages_text">
          <div class = "about_our_advantages_text_name">
            <strong class = "about_our_advantages_text_name_name">
              Наші
              <span class="about_our_advantages_text_name_name_cl">ПЕРЕВАГИ</span>
            </strong>
          </div>
          <div class="about_our_advantages_text_text">
            <div class = "about_our_advantages_text_text_row">
              <ul class = "about_our_advantages_text_text_row_list">
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Досвітчані фахівці та стоматологи
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Широкий спектр послуг
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Сучасне обладнання
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Комфортні умови
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Персоналізований підхід
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Профілактика
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Гнучкий графік
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Ефективний лікувальний план
                </li>
              </ul>
            </div>
            <div class = "about_our_advantages_text_text_row">
              <ul class = "about_our_advantages_text_text_row_list">
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Естетичні рішення
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Інформованість пацієнтів
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Використання безболісних методів
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Система контролю якості
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Доступність консультацій
                </li>
                <li class = "about_our_advantages_text_text_row_list_pos">
                  <img class = "halochka" src="<%= asset_path('Halochka.svg') %>">
                  Постійне навчання персоналу
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="about_our_advantages_image">
        </div>
      </div>
    </div>
  </div>
  <div class="Section_4">
    <div class="conteiner_4">
      <div class="our_services">
        <div class="our_services_text">
          <H1 class="our_services_text_1">Стоматологічні послуги</H1>
          <H1 class="our_services_text_2">відповідно до ваших потреб</H1>
          <H1 class ="our_services_text_3">У нашій клініці ми пропонуємо широкий спектр стоматологічних послуг, котрі забезпечать вам здорову та приголомшливу посмішку!</H1>
        </div>
        <hr>
        <div class="our_services_grid">
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_1.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Загальна стоматологія
              </H1>
              <H1 class="our_services_grid_text_2">
                це лікування та профілактика захворювань зубів і порожнини рота.
              </H1>
            </div>
          </div>
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_2.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Захист зубів
              </H1>
              <H1 class="our_services_grid_text_2">
                профілактичні процедури, що допомагають захистити зуби від карієсу та інших захворювань.
              </H1>
            </div>
          </div>
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_3.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Брекити
              </H1>
              <H1 class="our_services_grid_text_2">
                ортодонтичні апарати, що використовуються для вирівнювання зубів.
              </H1>
            </div>
          </div>
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_4.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Вирівнювання
              </H1>
              <H1 class="our_services_grid_text_2">
                корекція прикусу та вирівнювання зубів за допомогою різноманітних апаратів.
              </H1>
            </div>
          </div>
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_5.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Стоматологічна хірургія
              </H1>
              <H1 class="our_services_grid_text_2">
                проведення хірургічних процедур на зубах та щелепах
              </H1>
            </div>
          </div>
          <div class="our_services_grid_set">
            <img class = "Icon" src="<%= asset_path('Icon_6.svg') %>">
            <div>
              <H1 class="our_services_grid_text">
                Відбілювання
              </H1>
              <H1 class="our_services_grid_text_2">
                процедура, що полягає в видаленні зубного нальоту та пігментації зубів для покращення їх зовнішнього вигляду.
              </H1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Section_5">
    <div class="conteiner_5">
      <div class="why_choose_us">
        <div class="why_choose_us_res">
          <H1 class="why_choose_us_res_text">
            Чому варто обрати саме нас
          </H1>
        </div>
        <hr class="hr_1">
        <div class="why_choose_us_grid">
          <div class="why_choose_us_text">
            <img class = "Icon_2" src="<%= asset_path('Icon_7.svg') %>">
            <H1 class="why_choose_us_text_set_1">Високий рівень сервісу</H1>
            <H1 class="why_choose_us_text_set_2">
              Ми ретельно працюємо над тим,
              щоб кожен клієнт відчував себе особливим та задоволеним кожного разу,
              коли звертається до нас. Наша команда завжди готова відповісти на ваші запитання,
              вирішити будь-які проблеми та забезпечити найвищу якість обслуговування.
            </H1>
          </div>
          <div class="why_choose_us_text">
            <img class = "Icon_2" src="<%= asset_path('Icon_9.svg') %>">
            <H1 class="why_choose_us_text_set_1">Команда спеціалістів</H1>
            <H1 class="why_choose_us_text_set_2">
              Кожен наш фахівець володіє високою кваліфікацією та великим досвідом,
              готовий надати вам краще лікування та персоналізовану увагу.
              Ми розуміємо важливість вашого комфорту та впевненості у лікаря,
              тому ми зобов'язані забезпечити сприятливу та безболісну атмосферу під час кожного візиту.
            </H1>
          </div>
          <div class="why_choose_us_text">
            <img class = "Icon_2" src="<%= asset_path('Icon_8.svg') %>">
            <H1 class="why_choose_us_text_set_1">Сучасне обладнення</H1>
            <H1 class="why_choose_us_text_set_2">
              Ми інвестуємо у новітні технології та обладнання,
              щоб забезпечити точні діагностику та безпеку під час лікування.
              Від рентгенівських апаратів до сучасних систем стерилізації,
              ми стежимо за останніми тенденціями та стандартами в галузі стоматології.
            </H1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Section_6">
    <div class="conteiner_6">
      <div class="footer">
        <h1 class="footer_text">Колянчик (Frontend)</h1>
        <h1 class="footer_text">Санчізо (Backend)</h1>
        <h1 class="footer_text">ChatGPT (Головний помогатор)</h1>
        <h1 class="footer_text">:)</h1>
      </div>
    </div>
  </div>
</div>



