<%= stylesheet_link_tag "userinfo", "data-turbo-track": "reload" %>
<div class="UserInfo">
  <div class="UserMenu">
    <div class="Username">
      <div class="Usernametext">
        <%=current_user.name%>
      </div>
      <div class="Usernametext2">
        Ваша персональна сторінка
      </div>
    </div>
    <div class="UserMenuButton">
      <hr class="Line">
      <div class="UserMenuButtonPos">
        <ul class="navigation_user">
          <li class="navigation_user_pos">
            <%= link_to 'Ваш профіль', yourprofile_path, class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Запис на прийом', appoint_path, class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Історія лікування', treatment_history_user_path(@user), class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Вихід', logout_path, data: { turbo_confirm: 'Ви впевнені, що хочете вийти?' }, class: "navigation_user_pos_text" %>
          </li>
        </ul>
        <div class = "userinfo_return_pos">
          <%= link_to 'Вернутися до головної сторінки', root_path, class: "userinfo_return_text" %>
        </div>
      </div>
    </div>
  </div>
  <div class="Content">
    <%if flash[:appointment] %>
      <div class="UserProfileContent">
        <div class="UserProfileContentHeader">
          <div class="UserProfileContentName">
            Запис до лікаря
          </div>
          <div class="UserProfileContentSurname">
            Виберіть лікаря та дату
          </div>
          <div class="UserProfileContentSet">
          </div>
        </div>
        <hr class="Line2">
        <div class="ChangePasswordField">
          <%= form_with model: @appointment, url: appointments_path do |f|%>
            <div class="regis">
              <div class="change_text_pos">
                <%= f.label :doctor_id, "Лікар", class: "regis_text" %>
              </div>
              <div>
                <%= f.select :doctor_id, options_for_select([
                                                              ["Доктор Сміт", "Доктор Сміт"],
                                                              ["Доктор Джонс", "Доктор Джонс"],
                                                              ["Доктор Браун", "Доктор Браун"],
                                                              ["Доктор Вільямс", "Доктор Вільямс"],
                                                              ["Доктор Міллер", "Доктор Міллер"]
                                                            ]), { prompt: "Виберіть лікаря" }, class: "change_field" %>
              </div>
            </div>

            <div class="regis">
              <div class="change_text_pos">
                <%= f.label :procedure_id, "Процедура", class: "regis_text" %>
              </div>
              <div>
                <%= f.select :procedure_id, options_for_select([
                                                                 ["Огляд у стоматолога", "Огляд у стоматолога"],
                                                                 ["Планування лікування", "Планування лікування"],
                                                                 ["Чищення зубів", "Чищення зубів"],
                                                                 ["Видалення зубного нальоту", "Видалення зубного нальоту"],
                                                                 ["Заповнення карієсу", "Заповнення карієсу"]
                                                               ]), { prompt: "Виберіть процедуру" }, class: "change_field" %>
              </div>
            </div>

            <div class="regis">
              <div class="change_text_pos">
                <%= f.label :date, "Дата", class: "regis_text" %>
              </div>
              <div>
                <%= f.date_field :date, class: "change_field" %>
              </div>
            </div>

            <div class="regis">
              <div class="change_text_pos">
                <%= f.label :time, "Час", class: "regis_text" %>
              </div>
              <div>
                <%= f.time_field :time, class: "change_field" %>
              </div>
            </div>

            <div class="actions">
              <div class="change_button_pos">
                <%= f.submit "Записатися", class: "change_button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <%elsif flash[:history] %>
      <header>
        <h1>Treatment History</h1>
      </header>
  <%else %>
      <div class="UserProfileContent">
        <div class="UserProfileContentHeader">
          <div class="UserProfileContentName">
            <%=current_user.name%>
          </div>
          <%if current_user.firstname == nil && current_user.surname == nil%>
            <div class="UserProfileContentSurname">
              <div class="change_text">
                Оновіть своє імя та прізвище
              </div>
              <%= form_with model: @user, url: profile_path(@user), local: true do |form| %>
                <div class="regis">
                  <div class="change_text_pos">
                    <%= form.label :firstname, "Імя", class: "regis_text1" %>
                  </div>
                  <div>
                    <%= form.text_field :firstname, class:"change_field" %>
                  </div>
                  <div class="change_text_pos">
                    <%= form.label :surname, "Прізвище", class: "regis_text1" %>
                  </div>
                  <div>
                    <%= form.text_field :surname, class:"change_field" %>
                  </div>
                </div>
                <div class="regis">
                  <div class="change_button_pos">
                    <%= form.submit "Оновити дані", class: "change_button"%>
                  </div>
                </div>
              <%end %>
            </div>
          <%else %>
            <div class="UserProfileContentSurname">
              <%=current_user.firstname %>
              <%=current_user.surname %>
              <%if flash[:updatename]%>
                <div class="UserProfileContentSurname">
                  <%= form_with model: @user, url: profile_path(@user), local: true do |form| %>
                    <div class="regis">
                      <div class="change_text_pos">
                        <%= form.label :firstname, "Імя", class: "regis_text1" %>
                      </div>
                      <div>
                        <%= form.text_field :firstname, class:"change_field" %>
                      </div>
                      <div class="change_text_pos">
                        <%= form.label :surname, "Прізвище", class: "regis_text1" %>
                      </div>
                      <div>
                        <%= form.text_field :surname, class:"change_field" %>
                      </div>
                    </div>
                    <div class="regis">
                      <div class="change_button_pos">
                        <%= form.submit "Оновити дані", class: "change_button"%>
                      </div>
                    </div>
                  <%end %>
                </div>
              <%else %>
                <div>
                  <button class="EditButton3">
                    <%= link_to "ОНОВОТИ ІМЯ ТА ПРІЗВИЩЕ", updatename_path, class: "ButtonText" %>
                  </button>
                </div>
              <% end %>
            </div>
          <% end %>
          <br>
          <div class="UserProfileContentSet">
            Налаштування вашого профіля
          </div>
        </div>
        <hr class="Line2">
        <div class="ChangePasswordField">
          <div class="change_text1_pos">
            <div class="change_text">Зміна пароля</div>
          </div>
          <%= form_with model: @user, url: password_path(@user), local: true do |form| %>
            <div class="regis">
              <%if flash[:current_password_incorrect] %>
                <div class="change_text_pos">
                  <%= form.label :current_password, "Поточний пароль", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :current_password, placeholder: "Не дійсний пароль", class:"change_field_incorrect" %>
                </div>
              <%else%>
                <div class="change_text_pos">
                  <%= form.label :current_password, "Поточний пароль", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :current_password, class:"change_field" %>
                </div>
              <% end %>
            </div>

            <div class="regis">
              <div class="change_text_pos">
                <%= form.label :password, "Новий пароль", class: "regis_text"%>
              </div>
              <div>
                <%= form.password_field :password, class:"change_field" %>
              </div>
            </div>

            <div class="regis">
              <%if flash[:password_confirmation_incorrect] %>
                <div class="change_text_pos">
                  <%= form.label :password_confirmation, "Підтвердження паролю", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :password_confirmation, placeholder: "Не правильний пароль", class:"change_field_incorrect" %>
                </div>
              <%else %>
                <div class="change_text_pos">
                  <%= form.label :password_confirmation, "Підтвердження паролю", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :password_confirmation, class:"change_field" %>
                </div>
              <% end %>
            </div>
            <%if flash[:ura] %>
              <div class="regis">
                <a class="regis_text">Пароль успішно оновлено</a>
              </div>
            <% end %>
            <div class="regis">
              <div class="change_button_pos">
                <%= form.submit "Оновити пароль", class: "change_button"%>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

