<div class="UserInfo">
  <div class="UserMenu">
    <div class="Username">
      <div class="Usernametext">
        <%=current_user.name%>
      </div>
      <div class="Usernametext2">
        Ваша персональна сторінка
      </div>
    </div>
    <div class="UserMenuButton">
      <hr class="Line">
      <div class="UserMenuButtonPos">
        <ul class="navigation_user">
          <li class="navigation_user_pos">
            <%= link_to 'Ваш профіль', adminprofile_path, class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Перегляд акаунтів', deleteclient_path, class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Створити акаунт працівника', createdoctor_path, class: "navigation_user_pos_text" %>
          </li>
          <li class="navigation_user_pos">
            <%= link_to 'Вихід', logout_path, data: { turbo_confirm: 'Ви впевнені, що хочете вийти?' }, class: "navigation_user_pos_text" %>
          </li>
        </ul>
        <div class = "userinfo_return_pos">
          <%= link_to 'Вернутися до головної сторінки', root_path, class: "userinfo_return_text" %>
        </div>
      </div>
    </div>
  </div>
  <div class="Content">
    <%if flash[:deleteclient] %>
      <div class="UserProfileContent">
        <div class="ListUser">Список акаунтів</div>
        <hr class="Line2">
        <%@users.each do |users| %>
          <%if users.role == 'client' || users.role == 'doctor' %>
            <div class="UserList">
              <div class="ListText">ID: <%=users.id %></div>
              <div class="ListText"><%=users.name %></div>
              <div class="ListText"><%=users.role %></div>
              <div class="EditButton2">
                <%= button_to 'ОНОВИТИ СТАТУС', updaterole_path(users), method: :patch, class: "ButtonText" %>
              </div>
              <button class="DeleteButton5">
                <%=link_to 'ВИДАЛИТИ', user_path(users), data: { "turbo-method": :delete }, class: "ButtonText"%>
              </button>
            </div>
          <% end %>
        <%end %>
      </div>
    <%elsif flash[:createdoctor] %>
      <%= stylesheet_link_tag "registration", "data-turbo-track": "reload" %>
      <div class="UserProfileContent">
            <H1 class="regis_text_1">Реєстрація</H1>
            <h1 class="regis_text_2">
              форма реєстрації працівника
            </h1>
            <hr class="Line2">
            <%= render 'shared/errors', object: @user %>

            <div class="registration_fields">
              <%= form_with model: @user,url: create_doctor_path do |f| %>
                <div class="regis">
                  <div class="regis_text_pos">
                    <%= f.label :email, class: "regis_text"%>
                  </div>
                  <div class="col-sm-10">
                    <%= f.email_field :email, placeholder: "E-mail", class: "change_field" %>
                  </div>
                </div>

                <div class="regis">
                  <div class="regis_text_pos">
                    <%= f.label :Імя, class: "regis_text" %>
                  </div>
                  <div class="col-sm-10">
                    <%= f.text_field :name, placeholder: "Name", class: "change_field" %>
                  </div>
                </div>

                <div class="regis">
                  <div class="regis_text_pos">
                    <%= f.label :пароль, class: "regis_text" %>
                  </div>
                  <div class="col-sm-10">
                    <%= f.password_field :password, class: "change_field" %>
                  </div>
                </div>

                <div class="regis">
                  <div class="regis_text_pos">
                    <%= f.label :підтвердження_паролю, class: "regis_text" %>
                  </div>
                  <div class="col-sm-10">
                    <%= f.password_field :password, class: "change_field" %>
                  </div>
                </div>

                <div class="regis">
                  <div class="regis_button_pos">
                    <%= f.submit "Зареєструвати працівника", class: "regis_button" %>
                  </div>
                </div>
              <% end %>
            </div>
      </div>
  <%else %>
      <div class="UserProfileContent">
        <div class="UserProfileContentHeader">
          <div class="UserProfileContentName">
            <%=current_user.name%>
          </div>
          <%if current_user.firstname == nil && current_user.surname == nil%>
            <div class="UserProfileContentSurname">
              <div class="change_text">
                Оновіть своє імя та прізвище
              </div>
              <%= form_with model: @user, url: profile_path(@user), local: true do |form| %>
                <div class="regis">
                  <div class="change_text_pos">
                    <%= form.label :firstname, "Імя", class: "regis_text1" %>
                  </div>
                  <div>
                    <%= form.text_field :firstname, class:"change_field" %>
                  </div>
                  <div class="change_text_pos">
                    <%= form.label :surname, "Прізвище", class: "regis_text1" %>
                  </div>
                  <div>
                    <%= form.text_field :surname, class:"change_field" %>
                  </div>
                </div>
                <div class="regis">
                  <div class="change_button_pos">
                    <%= form.submit "Оновити дані", class: "change_button"%>
                  </div>
                </div>
              <%end %>
            </div>
          <%else %>
            <div class="UserProfileContentSurname">
              <%=current_user.firstname %>
              <%=current_user.surname %>
              <%if flash[:updatenameadmin]%>
                <div class="UserProfileContentSurname">
                  <%= form_with model: @user, url: profile_path(@user), local: true do |form| %>
                    <div class="regis">
                      <div class="change_text_pos">
                        <%= form.label :firstname, "Імя", class: "regis_text1" %>
                      </div>
                      <div>
                        <%= form.text_field :firstname, class:"change_field" %>
                      </div>
                      <div class="change_text_pos">
                        <%= form.label :surname, "Прізвище", class: "regis_text1" %>
                      </div>
                      <div>
                        <%= form.text_field :surname, class:"change_field" %>
                      </div>
                    </div>
                    <div class="regis">
                      <div class="change_button_pos">
                        <%= form.submit "Оновити дані", class: "change_button"%>
                      </div>
                    </div>
                  <%end %>
                </div>
              <%else %>
                <div>
                  <button class="EditButton3">
                    <%= link_to "Оновити імя та прізвище", updatenameadmin_path, class: "ButtonText" %>
                  </button>
                </div>
              <% end %>
            </div>
          <% end %>
          <br>
          <div class="UserProfileContentSet">
            Налаштування вашого профіля
          </div>
        </div>
        <hr class="Line2">
        <div class="ChangePasswordField">
          <div class="change_text1_pos">
            <div class="change_text">Зміна пароля</div>
          </div>
          <%= form_with model: @user, url: password_path(@user.id), local: true do |form| %>
            <div class="regis">
              <%if flash[:current_password_incorrect] %>
                <div class="change_text_pos">
                  <%= form.label :current_password, "Поточний пароль", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :current_password, placeholder: "Не дійсний пароль", class:"change_field_incorrect" %>
                </div>
              <%else%>
                <div class="change_text_pos">
                  <%= form.label :current_password, "Поточний пароль", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :current_password, class:"change_field" %>
                </div>
              <% end %>
            </div>

            <div class="regis">
              <div class="change_text_pos">
                <%= form.label :password, "Новий пароль", class: "regis_text"%>
              </div>
              <div>
                <%= form.password_field :password, class:"change_field" %>
              </div>
            </div>

            <div class="regis">
              <%if flash[:password_confirmation_incorrect] %>
                <div class="change_text_pos">
                  <%= form.label :password_confirmation, "Підтвердження паролю", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :password_confirmation, placeholder: "Не правильний пароль", class:"change_field_incorrect" %>
                </div>
              <%else %>
                <div class="change_text_pos">
                  <%= form.label :password_confirmation, "Підтвердження паролю", class: "regis_text" %>
                </div>
                <div>
                  <%= form.password_field :password_confirmation, class:"change_field" %>
                </div>
              <% end %>
            </div>
            <%if flash[:ura] %>
              <div class="regis">
                <a class="regis_text">Пароль успішно оновлено</a>
              </div>
            <% end %>
            <div class="regis">
              <div class="change_button_pos">
                <%= form.submit "Оновити пароль", class: "change_button"%>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    <% end %>
  </div>
</div>