<%= form_for @appointment do |f| %>
  <div class="field">
    <%= f.label :doctor_id, "Лікар" %>
    <%= f.select :doctor_id, options_for_select([
                                                  ["Доктор Сміт", "Доктор Сміт"],
                                                  ["Доктор Джонс", "Доктор Джонс"],
                                                  ["Доктор Браун", "Доктор Браун"],
                                                  ["Доктор Вільямс", "Доктор Вільямс"],
                                                  ["Доктор Міллер", "Доктор Міллер"]
                                                ]), { prompt: "Виберіть лікаря" } %>
  </div>

  <div class="field">
    <%= f.label :procedure_id, "Процедура" %>
    <%= f.select :procedure_id, options_for_select([
                                                     ["Огляд у стоматолога", "Огляд у стоматолога"],
                                                     ["Планування лікування", "Планування лікування"],
                                                     ["Чищення зубів", "Чищення зубів"],
                                                     ["Видалення зубного нальоту", "Видалення зубного нальоту"],
                                                     ["Заповнення карієсу", "Заповнення карієсу"]
                                                   ]), { prompt: "Виберіть процедуру" } %>
  </div>

  <div class="field">
    <%= f.label :date, "Дата" %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :time, "Час" %>
    <%= f.time_field :time %>
  </div>

  <div class="actions">
    <%= f.submit "Записатися" %>
  </div>
<% end %>
